KAFKA_PRODUCER_CONFIG__BOOTSTRAP_SERVERS=localhost:9092
KAFKA_PRODUCER_CONFIG__SECURITY_PROTOCOL=SASL_PLAINTEXT
KAFKA_PRODUCER_CONFIG__SASL_MECHANISM=PLAIN
KAFKA_PRODUCER_CONFIG__SASL_USERNAME=SASL_USERNAME
KAFKA_PRODUCER_CONFIG__SASL_PASSWORD=SASL_PASSWORD
KAFKA_PRODUCER_SUCCESS_TOPIC=esgf.local

TRANSACTION_AUTHORIZER=globus
TRANSACTION_CLIENT__GLOBUS_CLIENT_ID=GLOBUS_CLIENT_ID
TRANSACTION_CLIENT__GLOBUS_CLIENT_SECRET=GLOBUS_CLIENT_SECRET
TRANSACTION_CLIENT__GLOBUS_ISSUER=issuer
TRANSACTION_CLIENT__GLOBUS_SCOPE_STRING=scope_string
TRANSACTION_CLIENT__GLOBUS_AUTHORIZER=athorizer
TRANSACTION_CLIENT__GLOBUS_POLICY_PATH=file:///var/task/settings/config/new_acp.txt
